<h1>F A C T U U R</h1>

<div class='invoice-no'>
  <%= "<#{@customer.email.upcase}>" %><br>
  <%= @invoice.storewide_identification_number %>
  <br>
  <small>Laatst bewerkt: <%= I18n.l @invoice.updated_at, format: :long %><br>
    Status:
    <span class='status-tag'>
      <%= @invoice.closed ? (I18n.t 'invoice.closed') : (I18n.t 'invoice.not_closed') %>
    </span>
  </small>
</div>

<div class='logo'>
  <%= image_tag 'https://s3-eu-west-1.amazonaws.com/imkerij-poppendamme-prod/imkerij_logo.png' %>
  <h2>imkerij poppendamme</h2>
</div>

<h3>
  <%= @customer.first_name %>
  <%= @customer.last_name %>
</h3>

<div class='address'>
  <div class='package'>
    <h4>Pakket-verzendadres</h4>
    <%= @invoice.order.package_delivery.address.street_name %>
    <%= @invoice.order.package_delivery.address.street_number %><br>
    <%= @invoice.order.package_delivery.address.zip_code %><br>
    <%= @invoice.order.package_delivery.address.city %><br>
  </div>
  <% if false %>
  <div class='invoice'>
    <h4>Factuur-verzendadres</h4>
    <%= @invoice.invoice_delivery.address.street_name %>
    <%= @invoice.invoice_delivery.address.street_number %><br>
    <%= @invoice.invoice_delivery.address.zip_code %><br>
    <%= @invoice.invoice_delivery.address.city %><br>
  </div>
  <% end %>
</div>

<hr>
<table class='order-details'>
  <thead>
    <h4>Uw boekingen</h4>
  </thead>
  <!-- <hr> -->
  <% @invoice.order.selections.each do |selection| %>
    <tr>
      <td><%= selection.product_name %></td>
      <td><%= currency_symbol %> <%= selection.product_price %></td>
      <td><small>incl. <%= number_with_precision(selection.product_sales_tax,
                            strip_insignificant_zeros: true) %> %</small></td>
      <td>&times;</td>
      <td></td>
      <td class='quantity'><%= selection.product_quantity %></td>
      <td>&equals;</td>
      <td></td>
      <td><%= currency_symbol %></td>
      <td class='sum'><%= selection.total_price %></td>
    </tr>
    <% selection.corrections.joins(:invoice).order('invoices.created_at').each do |correction| %>
      <% if correction.invoice.sequence_number <= @invoice.sequence_number %>
        <tr>
          <td>&rdsh; Correctie
              <% if correction.invoice.sequence_number == @invoice.sequence_number &&
                  correction.invoice.sequence_number != 2 %>
                &#8727;
              <% else %>
                <small class='sequence-indicator'>FACT<%= correction.invoice.sequence_number %></small>
              <% end %>
          </td>
          <td><%= currency_symbol %> <%= selection.product_price %></td>
          <td><small>incl. <%= number_with_precision(selection.product_sales_tax,
                                strip_insignificant_zeros: true) %> %</small></td>
          <td>&times;</td>
          <td><%= "&minus;".html_safe if correction.quantity < 0 %></td>
          <td class='quantity'><%= correction.quantity.abs %></td>
          <td>&equals;</td>
          <td><%= "&minus;".html_safe if correction.total_amount < 0 %></td>
          <td><%= currency_symbol %></td>
          <td class='sum'><%= correction.total_amount.abs %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  <tfoot>
    <tr class='paid'>
      <th colspan='6'>Bedrag van u ontvangen</th>
      <td></td>
      <td></td>
      <td><%= currency_symbol %></td>
      <td colspan='2' class='sum'><%= @invoice.paid %></td>
    </tr>
    <% if @invoice.already_paid_back != 0 %>
    <tr>
      <th colspan='6'>Bedrag al door ons gerestitueerd</th>
      <td></td>
      <td><%= "&minus;".html_safe if @invoice.already_paid_back < 0 %></td>
      <td><%= currency_symbol %></td>
      <td colspan='2' class='sum'><%= @invoice.already_paid_back.abs %></td>
    </tr>
    <% end %>
    <% if @invoice.paid_back != 0 %>
    <tr>
      <th colspan='6'>Bedrag bij deze door ons gerestitueerd</th>
      <td></td>
      <td><%= "&minus;".html_safe if @invoice.paid_back < 0 %></td>
      <td><%= currency_symbol %></td>
      <td colspan='2' class='sum'><%= @invoice.paid_back.abs %></td>
    </tr>
    <tr class='total'>
      <th colspan='6'>Totale waarde ontvangen</th>
      <td></td>
      <td></td>
      <td><%= currency_symbol %></td>
      <td colspan='2' class='sum'><%= @invoice.received_value %></td>
    </tr>
    <% end %>
  </tfoot>
<table>

<hr>

<% if @invoice.paid_back != 0 %>
  <p>
    Onze excuses voor het niet volledig kunnen leveren van uw bestelling.<br>
    Er is een restitutiebedrag overeenkomstig ons in gebreke zijn teruggestort op uw rekening.
  </p>
  <p>Wij hopen u hiermee voldoende tegemoet te zijn gekomen.</p>
<% end %>
