<div class='order-invoice <%= order.status %>'>
  <div class='invoice-data'>
    <div class='main-data'>

        <i class='date'><%= l(order.active_invoice.updated_at, format: :long) %> </i><br>

        <strong class='price paid'><%= currency_symbol %> <%= order.active_invoice.paid %></strong>
        <strong class='price paid-back'>
          <% if order.active_invoice.paid_back == 0 %>
          <% elsif order.active_invoice.paid_back < 0 %>
            &minus; <%= currency_symbol %> <%= order.active_invoice.paid_back.abs %>
          <% else %>
             &plus; <%= currency_symbol %> <%= order.active_invoice.paid_back.abs %>
          <% end %>
        </strong><br>

        <span class='weight'>
					<i><%= order.total_mail_weight %> gr</i>
				</span>

    </div>

    <% unless order.package_delivery.nil? %>
      <div class='addresses'>
        <% if order.package_delivery == order.active_invoice.invoice_delivery %>
          Verzendadres:
          <span class='address'>
            <%= order.package_delivery.address_zip_code %>,
            <%= order.package_delivery.address_street_number %>
          </span>
        <% else %>
          Pakket:
          <span class='address'>
            <%= order.package_delivery.address_zip_code %>,
            <%= order.package_delivery.address_street_number %>
          </span>
          Factuur:
          <span class='address'>
            <%= order.active_invoice.invoice_delivery.address_zip_code %>,
            <%= order.active_invoice.invoice_delivery.address_street_number %>
          </span>
        <% end %>
      </div>
    <% end %>



  <div class='invoice-actions'>

    <% if order.active_invoice.paid_back < 0 && !order.active_invoice.closed %>
      <%= link_to "RESTITUEREN", [:refund, order, order.active_invoice], class: 'print' %>
    <% else %>
      <%= link_to "AFDRUKKEN",[:print, order, order.active_invoice], class: 'print' %>
    <% end %>


    <%= link_to "PDF",
          [order, order.active_invoice],
          target: "_blank",
          format: :pdf,
          class: "pdf" %>
    <%= link_to "PROBLEEM", [:problem, order],
          class: "problem #{'inactive' if order.problem? || order.active_invoice.closed && order.active_invoice.paid_back < 0 }" %>
    <%= link_to "VERZONDEN", [:sent_out, order, order.active_invoice],
          remote: true,
          class: "mail #{'inactive' if !order.active_invoice.closed && order.problem? || order.sent? }" %>
  </div>

  </div>
</div>

<!-- Zou actie moeten verhinderen. -->
<script>
  $('.inactive').click(function(e){
    e.preventDefault();
  });
</script>
