<tr>
	<td class='name' colspan='4'>
		<small><%= booking.product_name %></small>
	</td>
<tr>

<tr>
	<% unless controller.action_name == 'to_bank' %>
		<td class='remove'>
	    <%= link_to [booking], method: :delete, remote: true do %>
	      <i class='fa fa-close'></i>
	    <% end %>
		</td>
	<% else %>
		<td>
		</td>
	<% end %>

	<td class='booking-product'>
		<strong><%= currency_symbol %> <%= booking.product_price %> </strong>
		<small>incl. <%= number_with_precision(booking.product_sales_tax, strip_insignificant_zeros: true) %> %</small>
	</td>

	<!-- Booking form -->
	<% unless controller.action_name == 'to_bank' || controller.action_name == 'success' %>
		<%= form_for booking, remote: true do |f| %>
			<td class='booking-form'>
				<div class='submit'>
					&#183;
					<%= f.hidden_field :product_id, value: booking.product.id unless booking.product.nil? %>
					<%= f.number_field :product_quantity, value: booking.product_quantity, min: 1, max: 999 %>
					<%= f.submit class: 'button' %>
				</div>
			</td>
		<% end %>
	<% else %>
		<td>
			&times; <%= booking.product_quantity %>
		</td>
	<% end %>

	<td class='price'>
		= <%= currency_symbol %> <%= booking.total_price %>
	</td>
</tr>
