<!-- Boekings product naam. -->
<tr>
	<td class='name' colspan='9'>
		<small><%= booking.product_name %></small>
	</td>
<tr>

<!-- Bedrag x Aantal = Totaal -->
<tr id='booking-ajax-<%#= booking.id %>'>
	<% unless controller.action_name == 'to_bank' ||
		 				booking.order.status =='paid' %>
		<!-- Col 1. Verwijderen. -->
		<td class='remove'>
	    <%= link_to [booking], method: :delete, remote: true do %>
	      <i class='fa fa-close'></i>
	    <% end %>
		</td>
	<% else %>
		<!-- Col 1. Verwijderen (leeg). -->
		<td style='width: 3%;'></td>
	<% end %>
	<!-- Col 2. Booking pricing information. -->
	<td class='booking-product'>
		<strong><%= currency_symbol %> <%= booking.product_price %> </strong>
		<small>incl. <%= number_with_precision(booking.product_sales_tax, strip_insignificant_zeros: true) %> %</small>
	</td>

	<!-- Booking update form -->
	<% unless controller.action_name == 'to_bank' ||
						booking.order.status != 'open' %>
		<%= form_for booking, remote: true do |f| %>
				<!-- Col 3. Multiplication symbol. -->
				<td>
					&#183;
				</td>
				<!-- Col 4, 5. Booking form -->
				<td colspan='2' class='booking-form'>
					<div class='submit'>
						<%= f.hidden_field :product_id, value: booking.product.id unless booking.product.nil? %>
						<%= f.number_field :product_quantity, value: booking.product_quantity, min: 1, max: 999 %>
						<%= f.submit class: 'button' %>
					</div>
				</td>
		<% end %>
	<% else %>
		<!-- Col 3. Multiplication sign. -->
		<td>
			&times;
		</td>
		<!-- Col 4. Minus sign. -->
		<td></td>
		<!-- Col 5. Booking quantity. -->
		<td>
			<%= booking.product_quantity %>
		</td>
	<% end %>

	<!-- Col 6. Equal is sign. -->
	<td>&equals;</td>
	<!-- Col 7. Minus sign -->
	<!-- <td class='minus'><td> -->
	<!-- Col 8. Price after multiplication. -->
	<td colspan='2' class='price'>
		<%= currency_symbol %>
		<%= booking.total_price %>
	</td>
	<!-- Col 9. Toggle correction input row. -->
	<td>
		<% unless controller.action_name == 'check_out' ||
					controller.action_name == 'to_bank' ||
					controller.action_name == 'success' ||
					@order.status == 'open' %>
			<span onclick="myFunctionForId<%= @order.id %><%= booking.id %>()" class='fa fa-cogs'></span>
		<% end %>
	</td>
</tr>

<!-- Corrections made -->
<div id='booking-corrections-ajax-<%= booking.id %>'>
	<% unless controller.action_name == 'check_out' ||
						controller.action_name == 'to_bank' ||
						controller.action_name == 'success' ||
						@order.status == 'open'%>
		<% if booking.corrections.any? %>
			<% booking.corrections.each do |correction| %>
				<%= render correction %>
			<% end %>
	<% end %>
</div>

<%= render 'corrections/input_row', booking: booking %>

<!-- Script for toggling the correction row. -->
<script>
	function myFunctionForId<%= @order.id %><%= booking.id %>() {
	    var x = document.getElementById("correction-form-ajax-<%= @order.id %><%= booking.id %>");
	    if (x.className.indexOf("w3-hide") == -1) {
	        x.className += " w3-hide";
	    } else {
	        x.className = x.className.replace(" w3-hide", "");
	    }
	}
</script>

<% end %>
