<div class='booking'>
  <div class='info'>
    <%= currency_symbol %> <%= product.price %>
      <small class='price'>incl. <%= number_with_precision(product.sales_tax, strip_insignificant_zeros: true) %> %</small>
    <% if false %>
      (<%= number_with_precision(product.sales_tax, strip_insignificant_zeros: true) %>% BTW,
      <%= product.mail_weight %> gr)
    <% end %>
  </div>
  <div class='submit'>
    <%= render 'bookings/form', product: product, booking: @booking %>
  </div>
</div>
