<div class='user'>
	<ul class='record-actions'>
		<li><h4><%= user.email %></h4></li>
		<% unless controller.action_name == 'to_bank' ||
							controller.action_name == 'success' %>

			<div class='table-actions'>
				<% if policy(user).show? && current_page?(action: 'index') %>
					<li>
						<%= link_to [user] do %>
							<i class='fa fa-user'></i>
						<% end %>
					</li>
				<% end %>
				<% if policy(user).edit? %>
					<li>
						<%= link_to [:edit, user] do %>
							<i class='fa fa-pencil'></i>
						<% end %>
					</li>
				<% end %>
			</div>

		<% end %>
	</ul>

	<table>
		<tr>
			<th><%= User.human_attribute_name('first_name') %></th>
			<td><%= user.first_name %></td>
		</tr>
		<tr>
			<th><%= User.human_attribute_name('last_name') %></th>
			<td><%= user.last_name %></td>
		</tr>
		<% if current_user.admin? && controller.controller_name != 'orders' %>
			<tr>
				<th><%= User.human_attribute_name('admin') %></th>
				<td><%= I18n.t user.admin.to_s %></td>
			</tr>
		<% end %>
	</table>
</div>
