<div class='user'>
	<nav class='record-bar'>
		<div class='title'>
			<h4><%= user.email %></h4>
		</div>

		<% unless controller.action_name == 'confirm' ||
							controller.action_name == 'pay' ||
							controller.action_name == 'success' %>
			<div class='actions'>
				<% if policy(user).show? && current_page?(action: 'index') %>
					<%= link_to [user], title: "inzien" do %>
						<i class='icon-user'></i>
					<% end %>
				<% end %>
				<% if policy(user).edit? %>
					<%= link_to [:edit, user], title: "bijwerken" do %>
						<i class='icon-edit'></i>
					<% end %>
				<% end %>
			</div>

		<% end %>
	</nav>

	<table>
		<tr>
			<th><%= User.human_attribute_name('first_name') %></th>
			<td><%= user.first_name %></td>
		</tr>
		<tr>
			<th><%= User.human_attribute_name('last_name') %></th>
			<td><%= user.last_name %></td>
		</tr>
		<% if current_user.admin? && controller.controller_name != 'orders' %>
			<tr>
				<th><%= User.human_attribute_name('admin') %></th>
				<td><%= I18n.t user.admin.to_s %></td>
			</tr>
		<% end %>
	</table>
</div>
