<% content_for :navigation do %>
	<%= render 'layouts/nav_sec_admin' %>
<% end %>

<div id='profile'>
	<div class='user-col'>
		<div class="user">
			<%= render @user %>
		</div>
	</div>

	<div class='orders-col'>
		<header>
			<h4>Te verwerken</h4>
		</header>

		<div id='order'>
			<% if @order.nil? %>
				<p>Geen</p>
			<% else %>
				<%= render @order %>
			<% end %>
		</div>

		<div id='orders'>
			<header>
				<h4>Alle orders</h4>
			</header>
			<% @user.orders.each do |order| %>
				<table>
					<tr>
						<th>Aangemaakt</th>
						<td><i><%= l(order.created_at, format: :long) %></i></td>
					</tr>
					<tr>
						<th>Status</th>
						<td><%= order.status ? order.status : "niet opgeslagen"  %></td>
					</tr>
					<tr>
						<th>Totaalbedrag</th>
						<td><strong><%= currency_symbol %> <%= order.total_price %></strong></td>
					</tr>
				</table>
			<% end %>
		</div>
	</div>
</div>
