<% if policy(:dashboard).show? %>
	<%= content_for :secondary_navigation do render 'layouts/secondary_navigations/navigation_admin' end %>
<% end %>

<div id='profile'>
	<div class='user-col'>
		<%= render @user %>

		<%= render 'deliveries/options', deliveries: @deliveries, order: @order %>
	</div>

	<div class='orders-col'>
		<header>
			<h4>Te verwerken</h4>
		</header>

		<div id='order-processing-ajax'>
			<%= render 'orders/processing', orders: @user.orders %>
		</div>

		<div id='processed'>
			<%= render 'orders/processed', user: @user %>
		</div>
	</div>

</div>
