<% if policy(@order).admin_action? %>
<% content_for :navigation do %>
	<%= render 'layouts/nav_sec_admin' %>
<% end %>
<% end %>

<div id='profile'>
	<div class='user-col'>
		<%= render @user %>
		<% if false # @deliveries.any? %>
			<% @deliveries.each do |delivery| %>
				<%= render delivery %>
			<% end %>
		<% end %>
	</div>

	<div class='orders-col'>
		<header>
			<h4>Te verwerken</h4>
		</header>

		<div id='order'>
			<% if @order.nil? %>
				<p>Geen</p>
			<% else %>
				<%= render @order %>
			<% end %>
		</div>

		<div id='orders'>
			<header>
				<h4>Alle orders</h4>
			</header>
			<% @user.orders.each do |order| %>
				<table class='order <%= order.status %>'>
					<tr>
						<th>Aangemaakt</th>
						<td><i><%= l(order.created_at, format: :long) %></i></td>
					</tr>
					<tr>
						<th>Status</th>
						<td>
							<span class='status-tag <%= order.status %>'>
								<%= I18n.t "order_status.#{order.status}" %>
							</span>
						</td>
					</tr>
					<tr>
						<th>Totaalbedrag</th>
						<td>
							<strong><%= currency_symbol %> <%= order.total_price %></strong>
						</td>
					</tr>
				</table>
			<% end %>
		</div>
	</div>

</div>
