<% if policy(:dashboard).show? %>
	<%= content_for :secondary_navigation do render 'layouts/secondary_navigations/navigation_admin' end %>
<% end %>

<div id='profile'>
	<div class='user-col'>
		<%= render @user %>
		<% if @deliveries.any? %>
			<% @deliveries.each do |delivery| %>
				<div class='delivery-ajax'>
					<%= render delivery,
								card_title: "#{delivery.address_zip_code}, #{delivery.address_street_number}" %>
				</div>
			<% end %>
		<% end %>
	</div>

	<div class='orders-col'>
		<header>
			<h4>Te verwerken</h4>
		</header>

		<div id='order-processing'>
			<% if @user.orders.where(status: :paid).any? %>
				<% @user.orders.where(status: :paid).order(created_at: :asc).each do |order| %>
					<div id='order-ajax-<%= order.id %>' class='order'>
						<%= render order %>
					</div>
				<% end %>
			<% else %>
				<p>Geen</p>
			<% end %>
		</div>

		<div id='processed'>
			<%= render 'orders/processed', user: @user %>
		</div>
	</div>

</div>
