<% content_for :navigation do %>
	<%= render 'layouts/nav_sec_store' %>
	<%= render 'layouts/nav_prim_act_store' %>
<% end %>

<header>
	<div class='shopping-col'>
		<h4 class='cat-col'>Gallerie</h4>
		<h4 class='prod-col'>Winkel</h4>
	</div>
	<h4 class='order-col'>Order</h4>
</header>

<div id='store'>
	<div id='categories' class='shopping-col'>
		<% @categories.each do |category| %>
			<div id='cat-<%= category.id %>'>
			<div class='category'>
				<div class='cat-col'>
					<%= render 'categories/category_gallery', category: category %>
				</div>
				<div id='products' class='prod-col'>
					<%= render category %>
					<% category.products.each do |product| %>
						<%= render product, category: category %>
					<% end %>
				</div>
			</div>
			</div>
		<% end %>
	</div>

	<div id='order' class='order-col'>
		<%= render @order %>
	</div>
</div>
