<% content_for :navigation do %>
	<%= render 'layouts/nav_sec_store' %>
	<%= render 'layouts/flash_messages' %>
	<%= render 'layouts/nav_prim_act_store' %>
<% end %>

<div id='store-front'>
	<div id='categories' class='shopping-col'>
		<% @categories.each do |category| %>
			<div id='cat-<%= category.id %>'>
				<div class='category'>
					<div class='cat-col'>
						<%= render 'categories/category_gallery', category: category %>
					</div>
					<div id='products' class='prod-col'>
						<%= render category %>
						<% policy_scope(category.products).each do |product| %>
							<div class='product'>
								<div class='info'>
									<%= render 'products/product_head', product: product %>
									<% if product.pictures.where(visable: true).any? %>
										<%= render 'pictures/cover_picture',
													picture: product.pictures.where(visable: true).first %>
									<% end %>
									<div class='main-content'>
										<%= render product %>
									</div>
								</div>
								<% if policy(product.bookings.build).create? %>
									<div class='add-booking'>
										<%= render 'bookings/form_in_product',
													product: product,
													booking: product.bookings.build %>
									</div>
								<% end %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	</div>

	<div id='order' class='order-col'>
		<div id='order-ajax-<%= @order.id %>'>
			<%= render @order %>
		</div>
	</div>
</div>
