<div class="delivery <%= (order.package_delivery == delivery ? 'selected' : 'not-selected') unless order.nil? %>">
  <nav class='record-bar'>
    <% unless order.nil? %>
      <% if order.status == 'at_check_out' %>
        <%= link_to [:set_package_delivery, delivery.sender, delivery], remote: true do %>
          <div class='select-button'>
            <%= '<i class="icon-mail-pre"></i>'.html_safe %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <div class='title'>
      <h4 class='address'><%= card_title %></h4>
    </div>
    <% if !(controller.action_name == 'confirm' ||
        controller.action_name == 'pay') &&
        policy(delivery).edit? %>
      <div class='actions'>
          <%= link_to [:edit, delivery.sender, delivery], remote: true do %>
            <i class='icon-edit'></i>
          <% end %>
      </div>
    <% end %>
  </nav>

  <p>
    <%= delivery.address_street_name %>
    <%= delivery.address_street_number %><br>
    <%= delivery.address_zip_code %><br>
    <%= delivery.address_city %><br>
  </p>
</div>
