<div class='delivery'>
  <nav class='record-bar'>
    <div class='title'>
      <h4 class='address'><%= card_title %></h4>
    </div>
    <% unless controller.action_name == 'confirm' ||
        controller.action_name == 'pay' ||
        controller.action_name == 'success' %>
      <div class='actions'>
          <%= link_to [:edit, delivery.sender, delivery], remote: true do %>
            <i class='fa fa-pencil'></i>
          <% end %>
      </div>
    <% end %>
  </nav>

  <p>
    <%= delivery.address_street_name %>
    <%= delivery.address_street_number %><br>
    <%= delivery.address_zip_code %><br>
    <%= delivery.address_city %><br>
  </p>
</div>
