<div class='delivery'>
  <ul class='record-actions'>
    <li><h4 class='address'><%= card_title %></h4></li>
    <% unless controller.action_name == 'to_bank' || controller.action_name == 'success' %>
      <div class='table-actions'>
        <li>
          <%= link_to [:edit, delivery.sender, delivery], remote: true do %>
            <i class='fa fa-pencil'></i>
          <% end %>
        </li>
      </div>
    <% end %>
  </ul>

  <p>
    <%= delivery.address_street_name %>
    <%= delivery.address_street_number %><br>
    <%= delivery.address_zip_code %><br>
    <%= delivery.address_city %><br>
  </p>
</div>
