<tr>
  <th><%= Delivery.human_attribute_name('address_street_name') %></th>
  <td><%= user.address_street_name %></td>
</tr>
<tr>
  <th><%= Delivery.human_attribute_name('address_street_number') %></th>
  <td><%= user.address_street_number %></td>
</tr>
<tr>
  <th><%= Delivery.human_attribute_name('address_zip_code') %></th>
  <td><%= user.address_zip_code %></td>
</tr>
<tr>
  <th><%= Delivery.human_attribute_name('address_city') %></th>
  <td><%= user.address_city %></td>
</tr>
<tr>
  <th><%= Delivery.human_attribute_name('address_country') %></th>
  <td><%= user.address_country %></td>
</tr>
