<div class="delivery <%= (order.package_delivery == delivery ? 'selected' : 'not-selected') unless order.nil? %>">
  <nav class='record-bar'>
    <% unless order.nil? %>
      <% if order.status == 'at_check_out' %>
        <%= link_to [:set_package_delivery, delivery.sender, delivery], remote: true do %>
          <div class='select-button'>
            <%= '<i class="icon-mail-pre"></i>'.html_safe %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <div class='title'>
      <h4 class='address'><%= card_title %></h4>
    </div>
    <% unless order.nil?  %>
      <% if policy(delivery).edit? && order.confirmed? %>
        <div class='actions'>
            <%= link_to [:edit, delivery.sender, delivery], remote: true do %>
              <i class='icon-edit'></i>
            <% end %>
        </div>
      <% end %>
    <% end %>
  </nav>

  <p>
    <%= delivery.address.street_name %>
    <%= delivery.address.street_number %><br>
    <%= delivery.address.zip_code %><br>
    <%= delivery.address.city %><br>
  </p>
</div>
