<div class='delivery'>
  <nav class='record-bar'>
    <% if controller.action_name == 'check_out' && form %>
      <div class='select-button'>
        <%= form.radio_button :package_delivery_id, delivery.id, :onclick => "this.form.submit();" %>
      </div>
    <% end %>
    <div class='title'>
      <h4 class='address'><%= card_title %></h4>
    </div>
    <% if (controller.action_name != 'confirm' ||
        controller.action_name != 'pay') &&
        policy(delivery).edit? %>
      <div class='actions'>
          <%= link_to [:edit, delivery.sender, delivery], remote: true do %>
            <i class='fa fa-pencil'></i>
          <% end %>
      </div>
    <% end %>
  </nav>

  <p>
    <%= delivery.address_street_name %>
    <%= delivery.address_street_number %><br>
    <%= delivery.address_zip_code %><br>
    <%= delivery.address_city %><br>
  </p>
</div>
