<% content_for :navigation do %>
	<%= render 'layouts/nav_prim_act_events' %>
<% end %>

<div id='events'>
	<% @events.each do |event| %>
		<div class='event'>
			<div class='image-col'>
			</div>
			<div class='event-col'>
					  <ul class=record-actions>
							<li>
							  <h3>
									<small><%= I18n.l(event.date, format: :event_date) %></small>
									<div class='time'><%= I18n.l(event.date, format: :event_time) %></div>
									<%= event.name %>
								</h3>
							</li>
							<% if policy(event).admin_action? %>
								<li>
									<%= link_to [:edit, event] do %>
										<i class='fa fa-pencil'></i>
									<% end %>
								</li>
								<li>
									<%= link_to [event],
															 method: :delete,
															 data: { confirm: 'Weet je zeker dat je dit agendapunt wil verwijderen?' } do %>
										<i class='fa fa-trash-o'></i>
									<% end %>
								</li>
							<% end %>
						</ul>

					  <p>
						  <%= event.description %>
						</p>
			</div>
		</div>
	<% end %>
</div>
