<tr class='order'>
  <td><%= link_to [order.customer] do %>
      <span>
        <%= "#{order.customer.first_name} #{order.customer.last_name}" %>
      </span
    <% end %>
  </td>
  <td><%= I18n.l(order.updated_at, format: :long) %></td>
  <td><%= currency_symbol + " " + order.total_price %></td>
  <td><span class='status-tag <%= order.status %>'><%= I18n.t "order_status.#{order.status}" %></span></td>
</tr>
