<table>
	<tr>
		<th><%= Order.human_attribute_name :status %></th>
		<td><%= @order.status ? @order.status : "niet opgeslagen" %></td>
	</tr>
	<tr>
		<th><%= Order.human_attribute_name :total_price %></th>
		<td><%= currency_symbol %> <%= @order.total_price %></td>
	</tr>
	<tr>
		<th><%= Order.human_attribute_name :total_mail_weight %></th>
		<td><%= @order.total_mail_weight %> gr</td>
	</tr>
	<tfoot class='model-actions'>
  	<% if @order.bookings.any? %>
	  	<tr>
		  	<td colspan='2'>
		  		<%= link_to 'LEEGMAKEN', [:empty, @order] %>
		  	</td>
	  	</tr>
  	<tr>
	  	<td colspan='2'>
	  		<%= link_to 'AFREKENEN', [:check_out, @order] %>
	  	</td>
  	</tr>
  	<% end %>
  </tfoot>

</table>

<% @order.bookings.order(created_at: :asc).each do |booking| %>
	<div class='booking'>
		<%= render booking %>
	</div>
<% end %>
