<% if order.bookable? %>
	<% if @order.selections.any? %>
		<nav class='record-bar'>
			<% if policy(@order).empty? %>
				<% unless false #controller.action_name == 'confirm' %>
					<%= link_to [:empty, order] do %>
						<i class='fa fa-trash-o'></i>
					<% end %>
				<% end %>
			<% end %>
			<% if policy(@order).check_out? %>
				<% unless false #controller.action_name == 'check_out' || controller.action_name == 'confirm' %>
					<%= link_to [:check_out, order], class: 'to-check-out' do %>
						<small>AFREKENEN</small> <i class='fa fa-arrow-right'></i>
					<% end %>
				<% end %>
			<% end %>
		</nav>
	<% end %>
<% end %>

<table class='selections <%= order.status%>'>

	<thead>
		<tr>
			<td colspan='5' class='order-totals'>
				<strong><%= currency_symbol %> <%= order.total_price %></strong>
				<br>
				<span class='weight'>
					<i class="icon-package" aria-hidden="true"></i>
					<i><%= order.total_mail_weight %> gr</i>
				</span>
			</td>
		</tr>
	</thead>

	<tbody>
		<% order.selections.order(created_at: :desc).each do |selection| %>
			<div class='selection'>
				<%= render selection %>
			</div>
		<% end %>
	</tbody>
</table>

<% unless in_payment_process? %>
	<% if order.invoices.any? %>
		<% order.invoices.order(created_at: :asc).each do |invoice| %>
			<%= render 'invoices/invoice', invoice: invoice %>
		<% end %>
	<% end %>
<% end %>

<!-- Voor onderhoud check out procedé. -->
<%if false %>
<p>current_user.id: <%= current_user.nil? ? "nil" : current_user.id  %></p>
<p>order.customer.id: <%= order.customer.nil? ? "nil" : order.customer.id %></p>
<p id='last-name'>order.customer.last_name: <%= order.customer.nil? ? "nil" : order.customer.last_name %></p>
<p>order.id: <%= order.id %></p>
<p>order.status: <%= order.status %></p>
<p>order.package_delivery: <%= order.package_delivery.nil? ? "nil" : order.package_delivery.address_zip_code + ", " + order.package_delivery.address_street_number %></p>
<p>order.payment_id: <%= order.payment_id.nil? ? "nil" : order.payment_id %></p>
<% end %>
