<% content_for :navigation do %>
	<%= render 'layouts/flash_messages' %>
<% end %>

<div class='offset'>&nbsp;</div>

<div id='payment'>

	<div id='controls'>
		<h2>AFREKENEN</h2>
		<%= link_to 'Bevestig', [:confirm, @order], class: "#{'xconfirm-hidden' unless @delivery}" %>
	</div>

	<div id='order' class='co-order-col'>
		<header>
			<h3>Controleer uw bestelling!</h3>
		</header>
		<div id='order-ajax-<%= @order.id %>'>
			<%= render @order %>
		</div>
	</div>

	<div class="co-user-col">
		<header>
			<h3>
				<% if user_signed_in? %>
					Controleer uw verzendgegevens!
				<% else %>
					Uw gegevens zijn nodig voor verzending
				<% end %>
			</h3>
		</header>

		<div id="user-info">

			<% if user_signed_in? %>
				<%= render @user %>
				<% if @deliveries.any? %>
						<header>
							<% if @deliveries.size > 1 %>
								<h3>Selecteer uw verzendadres</h3>
							<% else %>
								<h3>Uw verzendadres</h3>
							<% end %>
						</header>
				<% end %>

				<div id='deliveries-ajax'>
					<%= render 'deliveries/select_form', deliveries: @deliveries, order: @order %>

					<% unless @deliveries.map(&:editable?).any? %>
							<header>
								<h3 class='add-address'><i class='fa fa-plus'></i> ADRES</h3>
							</header>
							<%= render 'deliveries/form',
										delivery: @user.deliveries.build %>
					<% end %>
				</div>

			<% else %>
				<div class='user registration'>
					<%= render 'devise/registrations/form', with_header: true %>
				</div>
				<div class='user log-in'>
					<%= render 'devise/sessions/form', with_header: true %>
				</div>
			<% end %>

		</div>
	</div>

</div>
