<%= content_for :secondary_navigation do render 'layouts/secondary_navigations/navigation_admin' end %>

<div id='orders'>
	<table>

		<% if @problem_orders.any? %>
		<thead>
			<tr>
				<th colspan="4"><h3><span class='status-tag problem'>probleem</span></h3></th>
			</tr>
			<tr>
				<th>Klant</th>
				<th>Laatst bijgewerkt</th>
				<th>Bedrag</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<% @problem_orders.each do |order| %>
				<%= render 'index_row', order: order %>
			<% end %>
		</tbody>
		<% end %>

		<% if @paid_orders.any? %>
		<thead>
			<tr>
				<th colspan="4"><h3><span class='status-tag paid'>betaald</span></h3></th>
			</tr>
			<tr>
				<th>Klant</th>
				<th>Laatst bijgewerkt</th>
				<th>Bedrag</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody id='paid'>
			<% @paid_orders.each do |order| %>
				<%= render 'index_row', order: order %>
			<% end %>
		</tbody>
		<% end %>

		<% if @sent_orders.any? %>
		<thead>
			<tr>
				<th colspan="4"><h3><span class='status-tag sent'>verzonden</span></h3></th>
			</tr>
			<tr>
				<th>Klant</th>
				<th>Laatst bijgewerkt</th>
				<th>Bedrag</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<% @sent_orders.each do |order| %>
				<%= render 'index_row', order: order %>
			<% end %>
		</tbody>
		<% end %>

<!-- Overbodig. Ook zichtbaar in de console. -->
<% if false %>
		<% if @open_orders.any? %>
		<thead>
			<tr>
				<th colspan="4"><h3><span class='status-tag open'>open</span></h3></th>
			</tr>
			<tr>
				<th>Klant</th>
				<th>Laatst bijgewerkt</th>
				<th>Bedrag</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<% @open_orders.each do |order| %>
				<%= render 'index_row', order: order %>
			<% end %>
		</tbody>
		<% end %>

		<% if @guest_orders.any? %>
			<thead>
				<tr>
					<th colspan="4"><h3><span class='status-tag open'>open (gast)</span></h3></th>
				</tr>
				<tr>
					<th>Klant</th>
					<th>Laatst bijgewerkt</th>
					<th>Bedrag</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<% @guest_orders.each do |order| %>
					<%= render 'index_row', order: order %>
				<% end %>
			</tbody>
		<% end %>
<% end %>

		</tbody>
	</table>
</div>
