<%= content_for :secondary_navigation do render 'layouts/secondary_navigations/navigation_admin' end %>

<div id='filtering'>
	<h3>Gegevens opvraag</h3>

	<%= form_tag :orders, method: :get, id: 'form' do %>
		<div id='from'>
			van
			<strong>Begin</strong>
			<%= select_tag :year_start, options_for_select([2017, 2018]) %>
			<%= select_tag :quarter_start, options_for_select(['Gehele jaar', 'I', 'II', 'III', 'IV']) %>
			tot
		</div>
		<div id='to'>
			<strong>Eind</strong></td>
			<%= select_tag :year_end, options_for_select([2017, 2018]) %>
			<%= select_tag :quarter_end, options_for_select(['Gehele jaar', 'I', 'II', 'III', 'IV']) %>
		</div>
		<%= submit_tag "Filter", class: 'button' %>
	<% end %>

	<% if @start_time %>
		<hr>
		<p class='selected-time'><em>van </em><%= l @start_time, format: :invoice %><em> tot </em><%= l @end_time, format: :invoice %></p>
	<% end %>

	<% if @start_time %>
		<div id='result'>
			<table>
				<thead>
					<th>Percentage</th>
					<th>Totale omzet</th>
					<th>BTW</th>
				</thead>
				<tbody>
					<tr>
						<th>6%</th>
						<td>€ <%= @turnover_6 %></td>
						<td>€ <%= @turnover_tax_6 %></td>
					</tr>
					<tr>
						<th>21%</th>
						<td>€ <%= @turnover_21 %></td>
						<td>€ <%= @turnover_tax_21 %></td>
					</tr>
					<tr>
						<th>Alle</th>
						<td>€ <%= @turnover_6 + @turnover_21 %></td>
						<td>€ <%= @turnover_tax_6 + @turnover_tax_21 %></td>
					</tr>
				</tbody>
			</table>
		</div>
	<% end %>

	<% if false %>
		<hr>
		<table>
			<% @invoices.order(:updated_at).each do |invoice| %>
				<tr>
					<th><%= invoice.id %></th>
					<td><%= invoice.sequence_number %></td>
					<td><%= invoice.paid %></td>
					<td><%= invoice.paid_back %></td>
					<td><%= invoice.updated_at %></td>
				</tr>
			<% end %>
		</table>
	<% end %>

	</div>



<div id='orders' class='w3-container'>
	<table>
		<tr>
			<th>Klant</th>
			<th>Laatst bijgewerkt</th>
			<th>Bedrag</th>
			<th>Status</th>
		</tr>

		<% if @problem_orders.any? %>
		<thead>
			<!-- <tr>
				<th colspan="4"><h3><span class='status-tag problem'>probleem</span></h3></th>
			</tr> -->
			<!-- <tr>
				<th>Klant</th>
				<th>Laatst bijgewerkt</th>
				<th>Bedrag</th>
				<th>Status</th>
			</tr> -->
		</thead>
		<tbody>
			<% @problem_orders.each do |order| %>
				<%= render 'index_row', order: order %>
			<% end %>
		</tbody>
		<% end %>

		<% if @paid_orders.any? %>
		<thead>
			<!-- <tr>
				<th colspan="4"><h3><span class='status-tag paid'>betaald</span></h3></th>
			</tr> -->
			<!-- <tr>
				<th>Klant</th>
				<th>Laatst bijgewerkt</th>
				<th>Bedrag</th>
				<th>Status</th>
			</tr> -->
		</thead>
		<tbody id='paid'>
			<% @paid_orders.each do |order| %>
				<%= render 'index_row', order: order %>
			<% end %>
		</tbody>
		<% end %>

		<% if @sent_orders.any? %>
		<thead>
			<!-- <tr>
				<th colspan="4"><h3><span class='status-tag sent'>verzonden</span></h3></th>
			</tr> -->
			<!-- <tr>
				<th>Klant</th>
				<th>Laatst bijgewerkt</th>
				<th>Bedrag</th>
				<th>Status</th>
			</tr> -->
		</thead>
		<tbody>
			<% @sent_orders.each do |order| %>
				<%= render 'index_row', order: order %>
			<% end %>
		</tbody>
		<% end %>

<!-- Overbodig. Ook zichtbaar in de console. -->
<% if false %>
		<% if @open_orders.any? %>
		<thead>
			<!-- <tr>
				<th colspan="4"><h3><span class='status-tag open'>open</span></h3></th>
			</tr> -->
			<!-- <tr>
				<th>Klant</th>
				<th>Laatst bijgewerkt</th>
				<th>Bedrag</th>
				<th>Status</th>
			</tr> -->
		</thead>
		<tbody>
			<% @open_orders.each do |order| %>
				<%= render 'index_row', order: order %>
			<% end %>
		</tbody>
		<% end %>

		<% if @guest_orders.any? %>
			<thead>
				<!-- <tr>
					<th colspan="4"><h3><span class='status-tag open'>open (gast)</span></h3></th>
				</tr> -->
				<!-- <tr>
					<th>Klant</th>
					<th>Laatst bijgewerkt</th>
					<th>Bedrag</th>
					<th>Status</th>
				</tr> -->
			</thead>
			<tbody>
				<% @guest_orders.each do |order| %>
					<%= render 'index_row', order: order %>
				<% end %>
			</tbody>
		<% end %>
<% end %>

		</tbody>
	</table>
</div>
