<div class='offset'>&nbsp;</div>

<div id='payment' class='success'>

	<div id='controls'>
		<h2 class='success'>SUCCES!</h2>
		<%= link_to shop_path, class: 'success' do %>
	    <i class='fa fa-arrow-left'></i> terug naar winkel
	  <% end %>
		<%= link_to "Download PDF", [@order, @order.first_invoice],
					target: "_blank",
					class: 'download-pdf',
					format: :pdf %>
	</div>

	<div id='order' class='co-order-col'>
		<header>
			<h3>Uw bestelling</h3>
		</header>
		<%= render @order %>
	</div>
	<div class="user-info">
		<div class="co-user-col">
			<header>
				<h3>Uw verzendgegevens</h3>
			</header>
			<%= render @customer %>
			<%= render @delivery, card_title: "Verzendadres", order: @order %>
		</div>
	</div>

	<% if true %>
		<div class='co-order-col'>
			<div>
				<strong>PostNL barcode</strong>
				<p>run.barcode: <%= @run.barcode %></p>
				<strong>PostNLresp:</strong>
				<p>label content: <%= '"/#{@pdf_file.path}"' %></p>
				<p>label content: <%= '"/#{@pdf.path}"' %></p>

				<img src='./label.pdf'>
			</div>
		</div>
	<% end %>
</div>
