<div id='controls'>
	<h2>SUCCES!</h2>
	<%= link_to shop_path, class: 'success' do %>
    <i class='fa fa-arrow-left'></i> terug naar winkel
  <% end %>
	<%= link_to "Download PDF", [@order, @order.active_invoice],
				target: "_blank",
				format: :pdf %>
</div>

<div id='payment' class='to-bank'>
<header>
	<h3 class='co-order-col'>Uw bestelling</h3>
	<h3 class='co-user-col'>Uw verzendgegevens</h3>
</header>

	<div id='order' class='co-order-col'>
		<%= render @order %>
	</div>
	<div class="user-info">
		<div class="co-user-col">
			<%= render @customer %>
			<%= render @delivery, card_title: "Verzendadres" %>
		</div>
	</div>
</div>
