<table id='picture_<%= picture.id %>'>
	<tbody>
		<tr>
			<td colspan='2' class='image'><%= image_tag picture.image.url %></td>
		</tr>
	</tbody>
  <tfoot class='model-actions'>
	  <%= form_for [imageable_model, picture], remote: true do |f| %>
			<tr>
		    <th><%= f.label :visable %></th>
		    <td><%= f.check_box :visable %></td>
		  </tr>
	 	<% end %>
  	<tr>
	  	<td colspan='2'>
				<%= link_to 'VERWIJDER', [imageable_model, picture], method: :delete, remote: true %>
			</td>
		</tr>
	</tfoot>
</table>
