<!-- Categorie: Naam met daaromheen categorie-acties. Geen foto-gallerie. -->
<header class='category-bar'>
  <nav class='record-bar'>
      <!-- Op en neer -->
      <% if policy(category).edit? %>
        <div class='up-down-action <%= "single-move" if category.first? || category.last? %>'>
          <% unless category.first? %>
            <div class='up'
              <%= link_to [:move_higher, category] do %>
                <i class='icon-move-up'></i>
              <% end %>
            </div>
          <% end %>
          <% unless category.last? %>
            <div class='down'>
              <%= link_to [:move_lower, category] do %>
                <i class='icon-move-down'></i>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>

    <div class='title'>
      <!-- Naam -->
      <h3><%= category.name %></h3>
    </div>

      <!-- Wijzig -->
      <% if policy(category).edit? %>
        <%= link_to [:edit, category], title: "bijwerken" do %>
          <i class='icon-edit'></i>
        <% end %>
      <% end %>
      <!-- Verwijderen -->
      <% if policy(category).destroy? %>
        <%= link_to [category], method: :delete,
            data: { confirm: 'Weet je zeker dat je deze categorie en de daarbij behorende producten wil verwijderen?' },
            title: "verwijderen" do %>
          <i class='icon-trash'></i>
        <% end %>
      <% end %>

  </nav>

  <!-- Nieuw product -->
  <% if policy(:product).new? %>
    <nav class='add-new-record'>
      <%= link_to [:new, category, :product], title: "nieuw product" do %>
        <i class='icon-add'></i> PRODUCT
      <% end %>
    </nav>
  <% end %>

</header>
