<!-- Categorie: Naam met daaromheen categorie-acties. Geen foto-gallerie. -->
<header>
  <ul class='record-actions'>

    <!-- Op en neer -->
    <% if policy(category).edit? %>
      <li>

        <div class='up-down-action <%= "single-move" if category.first? || category.last? %>'>
          <% unless category.first? %>
            <%= link_to [:move_higher, category] do %>
              <i class='fa fa-chevron-up'></i>
            <% end %>
          <% end %>
          <% unless category.last? %>
            <%= link_to [:move_lower, category] do %>
              <i class='fa fa-chevron-down'></i>
            <% end %>
          <% end %>
        </div>

      </li>
    <% end %>

    <li>

      <!-- Naam -->
      <h3><%= category.name %></h3>

    </li>

    <!-- Wijzig -->
    <% if policy(category).edit? %>
      <li>

        <%= link_to [:edit, category] do %>
          <i class='fa fa-pencil'></i>
        <% end %>

      </li>
    <% end %>

    <!-- Verwijderen -->
    <% if policy(category).destroy? %>
      <li>

        <%= link_to [category], method: :delete,
            data: { confirm: 'Weet je zeker dat je deze categorie en de daarbij behorende producten wil verwijderen?' } do %>
          <i class='fa fa-trash-o'></i>
        <% end %>

      </li>
    <% end %>

  </ul>

  <!-- Nieuw product -->
  <% if policy(:product).new? %>
    <ul class='add-new-record'>
      <li>

        <%= link_to [:new, category, :product] do %>
          <i class="fa fa-plus"></i> PRODUCT
        <% end %>

      </li>
    </ul>
  <% end %>

</header>
