<ul id='shop-actions'>
	<li><%= link_to 'nieuwe categorie', new_category_path %></li>
</ul>

<header>
	<h4 class='cat-col'>Categorieën</h4>
	<h4 class='prod-col'>Producten</h4>
</header>

<div id='categories'>
	<% @categories.each do |category| %>
		<div id='category'>
			<div class='cat-col'>
				<table>
				  <tbody>
					  <tr>
					  	<th>Naam</th>
					    <td><%= category.name %></td>
					  </tr>
				  </tbody>
				  <tfoot id='model-actions'>
				  	<tr>
					  	<td colspan='2'>
					  		<%= link_to 'VERWIJDER', [category], 
					  				 method: :delete,
					  				 data: { confirm: 'Weet je zeker dat je deze categorie en de daarbij behorende producten wil verwijderen?' } %>
					  	</td>
				  	</tr>
				  	<tr>
					  	<td colspan='2'>
					  		<%= link_to 'BIJWERKEN', [:edit, category] %>
					  	</td>
				  	</tr>
				  	<tr>
					  	<td colspan='2'>
					  		<%= link_to 'NIEUW PRODUCT', [:new, category, :product] %>
					  	</td>
				  	</tr>
				  </tfoot>
				</table>
			</div>

			<div id='products' class='prod-col'>
				<% category.products.each do |product| %>
					<table id='product'>
					  <tbody>
						  <tr>
						  	<th>Naam</th>
						    <td><%= product.name %></td>
					    </tr>
					    <tr>
						    <th>Omschrijving</th>
						    <td><%= product.description %></td>
						  </tr>
					  </tbody>
					  <tfoot id='model-actions'>
					  	<tr>
						  	<td colspan='2'>
						  		<%= link_to 'VERWIJDER', [category, product], 
						  				 method: :delete,
						  				 data: { confirm: 'Weet je zeker dat je dit product wil verwijderen?' } %>
						  	</td>
						  </tr>
						  <tr>
						  	<td colspan='2'>
						  		<%= link_to 'BIJWERKEN', [:edit, category, product] %>
						  	</td>
					  	</tr>
					  </tfoot>
					</table>
				<% end %>
			</div>

		</div>
	<% end %>
</div>
