<%= form_for [category, product], html: { multipart: true } do |f| %>
<div id='form'>

  <!-- Product -->
	<table>
		<!-- Categorieën  -->
		<tr>
			<th><%= f.label :category %></td>
 			<td><%= f.collection_select(:category_id, Category.all, :id, :name) %></td>
  	</tr>
    <!-- Naam -->
		<tr class='name'>
			<th><%= f.label :name %></td>
 			<td><%= f.text_field :name %></td>
  	</tr>
    <% if product.errors[:name].any? %>
      <tr id='errors'>
        <th></th><td><% product.errors[:name].each do |msg| %>
            <%= "- #{msg}" %><br>
          <% end %>
        </td>
      </tr>
    <% end %>
		<!-- Inhoud gewicht -->
		<tr class='content-weight'>
			<th><%= f.label :content_weight %></td>
 			<td><%= f.text_field :content_weight %></td>
  	</tr>
    <% if product.errors[:content_weight].any? %>
      <tr id='errors'>
        <th></th><td><% product.errors[:content_weight].each do |msg| %>
            <%= "- #{msg}" %><br>
          <% end %>
        </td>
      </tr>
    <% end %>
		<!-- Inhoud volume -->
		<tr class='content-volume'>
			<th><%= f.label :content_volume %></td>
 			<td><%= f.text_field :content_volume %></td>
  	</tr>
    <% if product.errors[:content_volume].any? %>
      <tr id='errors'>
        <th></th><td><% product.errors[:content_volume].each do |msg| %>
            <%= "- #{msg}" %><br>
          <% end %>
        </td>
      </tr>
    <% end %>
    <!-- Omschrijving -->
  	<tr class='description'>
		  <th><%= f.label :description %></td>
  		<td><%= f.text_area :description, rows: 14 %></td>
  	</tr>
    <% if product.errors[:description].any? %>
      <tr id='errors'>
        <th></th><td><% product.errors[:description].each do |msg| %>
            <%= "- #{msg}" %><br>
          <% end %>
        </td>
      </tr>
    <% end %>
    <!-- Prijs -->
    <tr>
      <th><%= f.label :price %></td>
      <td><%= f.text_field :price, size: 10 %></td>
    </tr>
    <% if product.errors[:price].any? %>
      <tr id='errors'>
        <th></th><td><% product.errors[:price].each do |msg| %>
            <%= "- #{msg}" %><br>
          <% end %>
        </td>
      </tr>
		<% end %>
		<!-- BTW -->
		<tr>
			<th><%= f.label :sales_tax %></td>
			<td><%= select(:product, :sales_tax, [['6%', 6],['21%', 21]]) %></td>
		</tr>
    <% if product.errors[:sales_tax].any? %>
      <tr id='errors'>
        <th></th><td><% product.errors[:sales_tax].each do |msg| %>
            <%= "- #{msg}" %><br>
          <% end %>
      </tr>
		<% end %>
		<!-- Gewicht -->
    <tr>
      <th><%= f.label :mail_weight %> (gr)</td>
      <td><%= f.number_field :mail_weight, size: 10 %></td>
    </tr>
    <% if product.errors[:mail_weight].any? %>
      <tr id='errors'>
        <th></th><td><% product.errors[:mail_weight].each do |msg| %>
            <%= "- #{msg}" %><br>
          <% end %>
        </td>
      </tr>
    <% end %>
		<!-- Beschikbaarheid -->
    <tr>
      <th><%= f.label :available %></td>
      <td><%= f.check_box :available %></td>
    </tr>
    <% if product.errors[:available].any? %>
      <tr id='errors'>
        <th></th><td><% product.errors[:available].each do |msg| %>
            <%= "- #{msg}" %><br>
          <% end %>
        </td>
      </tr>
    <% end %>

    <tr>
      <th><%= f.label :pictures %></th>
      <td><%= file_field_tag 'images[]', type: :file, multiple: true %></td>
    </tr>
  </table>

  <%= f.submit class: 'button' %>

</div>
<% end %>
