<tr id='correction-ajax-<%= correction.id %>' class='correction'>
	<!-- Col 1. -->
	<% unless correction.invoice.closed? %>
		<td class='remove'>
	    <%= link_to [correction.selection, correction], method: :delete, remote: true do %>
	      <i class='fa fa-close'></i>
	    <% end %>
		</td>
	<% else %>
		<td></td>
	<% end %>
	<!-- Col 2. -->
	<td class='selection-product'>
		<strong><%= currency_symbol %> <%= correction.selection.product_price %> </strong>
		<small>incl. <%= number_with_precision(correction.selection.product_sales_tax,
                      strip_insignificant_zeros: true) %> %</small>
	</td>
	<!-- Col 3. -->
	<td>
		&times;
	</td>
	<!-- Col 4. -->
	<td class='minus'>
		<%= "&minus;".html_safe if correction.quantity < 0 %>
	</td>
	<!-- Col 5. -->
	<td><%= correction.quantity.abs %></td>
	<!-- Col 6. -->
	<td>&equals;</td>
	<!-- Col 7. -->
	<td class='minus'>
    <%= correction.total_amount < 0 ? " &minus; ".html_safe : " &plus; ".html_safe %>
	</td>
	<!-- Col. 8 -->
	<td class='price'>
		<%= currency_symbol %>
    <%= correction.total_amount.abs %></td>
	<!-- Col 9. -->
	<td style='width:3%'></td>
<tr>
