<div class="offset">&nbsp;</div>

<nav id='identity'>
  <div class='profile'>
    <% if user_signed_in? %>
      <%= active_link_to(
            "<i class='icon-user'></i>
            #{current_user.first_name}
            #{'(Admin)' if current_user.admin?}".html_safe,
            [current_user] ) %>

      <%= link_to 'log uit', destroy_user_session_path, method: :delete %>
    <% end %>
    <% unless user_signed_in? %>
      <%= active_link_to 'inloggen', new_user_session_path %>
      <%= active_link_to 'nieuwe account', new_user_registration_path %>
    <% end %>
  </div>

  <div class='logo'>
    <%= image_tag 'https://s3-eu-west-1.amazonaws.com/imkerij-poppendamme-prod/imkerij_logo.png' %>
    <h1>imkerij poppendamme</h1>
  </div>
</nav>

<div class="offset">&nbsp;</div>

<nav id='main'>
  <!-- pages -->
  <%= active_link_to page_link(1), root_path, active: :exclusive %>
  <%= active_link_to page_link(2), facilities_path, active: :exclusive %>
  <%= active_link_to page_link(3), expo_path, active: :exclusive %>
  <%= active_link_to page_link(4), route_path, active: :exclusive %>
  <%= active_link_to page_link(5), extras_path, active: :exclusive %>
  <!-- events -->
  <%= active_link_to 'agenda', events_path %>
  <!-- shop -->
  <%= active_link_to 'winkel', shop_path %>
  <!-- admin area -->
  <% if policy(:application).admin_action? %>
    <%= active_link_to 'admin',
          admin_path,
          active: [['welcome', 'users', 'orders'],['index', 'admin']] %>
  <% end %>
</nav>
