<!DOCTYPE html>
<html>
  <head>
    <title>Imkerij Poppendamme</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id='mask'></div>

    <div id='navigation'>
      <%= render 'layouts/nav_main' %>
      <%= yield :secondary_navigation if content_for? :secondary_navigation %>
      <%= yield :primary_actions if content_for? :primary_actions %>
      <%= render 'layouts/flash_messages' %>
    </div>

    <br><br>

    <div id='app-content'>
      <%= yield %>
    </div>

  </body>
</html>
