<!DOCTYPE html>
<html>
  <head>
    <title>Imkerij Poppendamme</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id='navigation'>      
      <%= render 'layouts/nav_main' %>
      <% if content_for? :navigation %>
        <%= yield :navigation %>
      <% end %>
      <%= render 'layouts/flash_messages' %>
    </div>

    <div id='app-content'>
      <%= yield %>
    </div>

  </body>
</html>